* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #405060;
  color: #eee;
  font-size: 32px;
  margin-top: 1em;
}

.wrapper {
  width: 100%;
}

.calculator {
  width: 400px;
  margin: 0px auto;
  border: 2px solid #fff;
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'result' 'buttons';
  -ms-grid-rows: 2em 1fr;
      grid-template-rows: 2em 1fr;
}

.calculator__result {
  background-color: #000;
  text-align: right;
  overflow: hidden;
}

.calculator__result span {
  display: block;
  margin: .3em .7em 0 0;
}

.calculator__buttons {
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'nums' 'operations';
  -ms-grid-columns: 10fr 1fr;
      grid-template-columns: 10fr 1fr;
}

.calculator__numerical {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.calculator__button {
  padding: 1em 1em 0 1em;
  cursor: pointer;
}

.calculator__button-num, .calculator__button-reverse, .calculator__button-dot {
  border-bottom: 1px solid steelblue;
}

.calculator__button-num:hover, .calculator__button-reverse:hover, .calculator__button-dot:hover {
  background: #807e7e;
}

.calculator__button-math:hover, .calculator__button-c:hover, .calculator__button-equal:hover, .calculator__button-del:hover {
  background: #3164f0;
}
